.header {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 

    /* Makes the header stay at the top while scrolling */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid rgb(229, 229, 229);
}


.left-section {
    display: flex;
    align-items: center;
    width: 180px;
    padding-left: 16px;
}

.menu-icon {
    height: 24px;
}

.youtube-logo {
    height: 20px;
    margin-left: 20px;
}

.menu-button, .right-icon-button, .voice-search-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
}


.middle-section {
    display: flex;
    align-items: center;
    flex: 1; 
    max-width: 600px; 
    margin-left: 60px;
    margin-right: 35px;
}

.search-input {
    flex: 1;
    height: 36px;
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px 0 0 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    font-family: Roboto, Arial;
    width: 0;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(204, 204, 204);
    margin-left: -1px; 
    border-radius: 0 2px 2px 0;
}

.search-icon {
    height: 24px;
}

.voice-search-button {
    margin-left: 10px;
    background-color: #f8f8f8;
}

.voice-search-icon {
    height: 24px;
}


.right-section {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: flex-end;
    padding-right: 24px;
}

.right-icon {
    height: 24px;
}

.profile-picture {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 16px;
}
